/platforms
/plugins
/.vs
/bin
/bld
SMELL-PITTSBURGH-CERTIFICATE.txt
SmellPittsburghCordova.jks
smell-pittsburgh-cordova.jsproj
smell-pittsburgh-cordova.jsproj.user
smell-pittsburgh-cordova.sln
taco.json
*.DS_Store
/www/img/ios-*
