<?xml version='1.0' encoding='utf-8'?>
<widget id="org.cmucreatelab.smell_pgh" version="1.8.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Smell PGH</name>
    <icon density="mdpi" height="57" src="www/img/smellpgh.png" width="57" />
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://localhost/visualization" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash src="www/img/smellpgh.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="www/img/smellpgh.png" />
    </platform>
    <engine name="android" spec="~6.2.3" />
    <plugin name="cordova-plugin-compat" spec="1.0.0" />
    <plugin name="cordova-plugin-device" spec="1.1.2" />
    <plugin name="cordova-plugin-dialogs" spec="1.2.1" />
    <plugin name="cordova-plugin-firebase" spec="~0.1.19" />
    <plugin name="cordova-plugin-geolocation" spec="2.2.0" />
    <plugin name="cordova-plugin-network-information" spec="1.2.1" />
    <plugin name="cordova-plugin-request-location-accuracy" spec="2.0.0" />
    <plugin name="cordova-plugin-spinner" spec="1.1.0" />
    <plugin name="cordova-plugin-statusbar" spec="2" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova.plugins.diagnostic" spec="3.1.1" />
</widget>
