@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Open Sans', Arial, sans-serif !important;
}

html {
  user-select: none;
  -webkit-user-select: none;
}

.ui-page-theme-a .ui-btn:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.ui-focus:not(.ui-input-text, .ui-input-search) {
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.picker-color-smell {
  display: inline-block;
  width: 2em;
  min-height: 1em;
  height: 100%;
  vertical-align: middle;
  margin-top: -2px;
}

.picker-color-smell-1 {
  background-color: rgb(0,255,0);
}
.picker-color-smell-2 {
  background-color: rgb(248,229,64);
}
.picker-color-smell-3 {
  background-color: rgb(218,136,0);
}
.picker-color-smell-4 {
  background-color: rgb(235,38,103);
}
.picker-color-smell-5 {
  background-color: rgb(95,14,54);
}
div[data-role="panel"] {
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
}

.ui-content .ui-listview, .ui-panel-inner>.ui-listview {
  margin: 0 !important;
}

.ui-panel-inner {
  position: absolute !important;
  width: calc(100% - 60px) !important;
  padding-left: 30px !important;
  top: 5% !important;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.ui-panel-inner>.ui-listview {
  border-radius: 5px !important;
}

.ui-panel-inner .ui-listview a.ui-btn {
  border-right: solid black;
  border-left: solid black;
  background: #f9f9f9 !important;
  font-weight: bold !important;
  color: black;
  text-shadow: none !important;
  outline: none !important;
  border-color: #ddd !important;
}

.ui-footer .ui-navbar .ui-btn {
  text-align: center !important;
  padding-top: 20px !important;
  padding-bottom: 15px !important;
  font-size: 16px !important;
}

.ui-page:not(.overlay-enabled) .ui-footer-fixed.ui-fixed-hidden{
  position: fixed !important;
}

.ui-panel-inner .ui-listview a.ui-btn.ui-btn-active, .ui-btn-active {
  background-color: rgba(77, 144, 255, 0.8) !important;
  color: white !important;
}

/* Remove title restriction on modal headers */
.modal-title {
  margin: 0 10% 0 !important;
}

.ui-btn:hover, .ui-btn.ui-btn-a:hover {
  background-color: inherit;
  border-color: inherit;
  color: inherit;
  text-shadow: inherit;
}

.ui-radio-off.ui-btn:hover, .ui-radio-off.ui-btn.ui-btn-a:hover {
  background-color: #f6f6f6;
  border-color: #ddd;
  color: inherit;
  text-shadow: none;
}

.ui-radio-on {
  background-color: #ededed !important;
}

.close-button{
  position:absolute;
  left:0px;
}

.inlineIcon {
  background-color: transparent !important;
  box-shadow: none !important;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 6px;
  margin-top: -4px;
}

.ui-mobile .ui-page-active {
  overflow: hidden;
}

body:not(.overlay-enabled) {
  overflow: hidden;
}

.ui-page:not(#map):not(.overlay-enabled) {
  height: calc(100% - 16px);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-page:not(.overlay-enabled) .ui-content.no-top {
  height: 100%;
}

#langsCollapsible, #langSelectContainer {
  display: none !important;
}

h2 {
  margin-top: 0px;
}

.no-scroll {
  overflow: hidden !important;
  position: fixed !important;
}

.ui-footer-fixed {
  padding-bottom: 0 !important;
  left: -1px;
}

.custom-ul {
  padding-left: 16px;
  margin: 0px 0px 10px 0px;
}

.ui-popup ul {
  padding-left: 20px;
  margin-top: 0px;
}

.li-parent {
  margin: 10px 0px 0px 0px;
}

.requirement-indicator {
  font-size: 13px;
  font-style: italic;
}

.bold-text {
  font-weight: bold;
}

.no-top-margin {
  margin-top: 0px;
}

.regulatory-agency-note {
  text-align: justify;
  text-justify: inter-word;
  font-style: italic;
  font-size: 10px;
  margin-bottom: 10px;
}

.disabled {
  display: none;
}

a.ui-btn {
  -webkit-touch-callout: none !important;
  -webkit-user-drag: none !important;
}

.ui-input-has-clear {
  padding-right: initial;
}

.ui-input-has-clear input:placeholder-shown {
  padding-right: 0.2em;
}

.ui-input-has-clear input {
  padding-right: 2.375em;
}

.popup-fadeout{
  opacity:0 !important;
  visibility: visible !important;
  transition-timing-function: cubic-bezier(1, 0, 0, 0) !important;
  transition-property: opacity !important;
}

.ui-footer {
  border-bottom: none !important;
}

.ui-footer-fixed {
  bottom: 0px !important;
}

/* Unfortunately, these cannot be combined into a single selector.
   Chrome and perhaps other browsers are unable to parse them that way. */
::-webkit-input-placeholder {
    opacity: 0.5 !important;
}

::-moz-placeholder {
    opacity: 0.5 !important;
}

::-ms-placeholder {
    opacity: 0.5 !important;
}

::placeholder {
    opacity: 0.5 !important;
}
